.to {
    display: flex;
    margin: auto;
    width: 900px;
}

.to .so1{
    width: 35%;
}

.to .so2{
    width: 45%;
    display: flex;
}

.to .so2 .so2-1{
    width: 33.3%;
}
.to .so2 .so2-1{
    width: 33.3%;
}
.to .so2 .so2-1{
    width: 33.3%;
}
.to .so3{
    width: 20%;
}

img{
    width: 100%;
}