.bo{
    width: 600px;
    height: 600px;
    position: relative;
}
.bo .xoay{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 75px;
    top: 75px;
    transition: 2s;
}
.bo:hover .xoay{
    transform:rotate(360dog);
}
.bo .anh{
    width: 450px;
    height: 450px;
    position: absolute;
    left: 75px;
    top: 75px;
    transition: 0.4s;
}