.image_block{

    font-family: segoe ui light;
    width: 360px ;
    height:460px;
    position: relative;
    perspective: 500px;
}
.image_block .layer1{
    width: 360px;
    height: 460px;
}
.image_block .white{
    background-color: white;
    width: 340px;
    height:440px;
    left: 10px;
    top: 10px;
    position: absolute;
    transition: 0.4s;
    opacity: 0;
    transform-origin: 0 0;

}
.image_block .blackicon{
    font-size: 50px;
    position: absolute;
    top: 40px;
    left: 50px;
    transition: 0.4s;
    opacity: 0;
}
.image_block .bigtext{
    font-size: 25px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    transition: 0.3s;
    font-weight: bold;
    opacity: 0;
}
.image_block .smalltext{
    font-size: 14px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    transition: 0.3s;
    font-weight: bold;
    opacity: 0;

}

.image_block:hover .white{
    opacity: 0.9;
    transform: rotateY(-360deg);
}
.image_block:hover .blackicon{
    opacity: 1;
}
.image_block:hover .bigtext{
    opacity: 1;
    bottom: 70px;
    transition-delay:0.3s ;
}
.image_block:hover .smalltext{
    opacity: 1;
    transition-delay:0.5s ;
}
